@model Partner
<div class="row">
    <div class="col-md-8">
        <h2 class="text-danger mb-3">Do you surely want to delete this Partner?</h2>
        <img src="/img/clients/@Model.Img" style="width:50px" />
        <a asp-action="DeleteConfirmed" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>