@model HomeAboutSection
<div class="row">
    <div class="col-md-8">
        <h2 class="text-danger mb-3">Do you surely want to delete this HomeAboutSection?</h2>
        <p> @Model.LeftHtml </p>
        <img src="/img/about/@Model.Img" style="width:200px" class="rounded d-block mb-3" />
        <span>@Model.ImgName</span>
        <a asp-action="DeleteConfirmed" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>